/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


$white_color: white;


html {
  position: relative;
  min-height: 100%;
}

body {
  background: -webkit-linear-gradient( 0deg, #D38312 0%, #e0e0d1 60%, #ccd1b3 100%);
  background:    -moz-linear-gradient( 0deg, #D38312 0%, #e0e0d1 60%, #ccd1b3 100%);
  background:     -ms-linear-gradient( 0deg, #D38312 0%, #e0e0d1 60%, #ccd1b3 100%);
  background:      -o-linear-gradient( 0deg, #D38312 0%, #e0e0d1 60%, #ccd1b3 100%);
  background:         linear-gradient( 0deg, #D38312 0%, #e0e0d1 60%, #ccd1b3 100%);
  font-family: 'Lato', sans-serif;
  margin-bottom: 120px;
}

.blue-project-background {

  background: -webkit-linear-gradient( 0deg, #3969b5 0%, #337ab7 100%);
  background:    -moz-linear-gradient( 0deg, #3969b5 0%, #337ab7 100%);
  background:     -ms-linear-gradient( 0deg, #3969b5 0%, #337ab7 100%);
  background:      -o-linear-gradient( 0deg, #3969b5 0%, #337ab7 100%);
  background:         linear-gradient( 0deg, #3969b5 0%, #337ab7 100%);
}

.lightgray-form-gradient {
  background: -webkit-linear-gradient( #dfdfdf, #cbcbcb );
  background:    -moz-linear-gradient( #dfdfdf, #cbcbcb );
  background:     -ms-linear-gradient( #dfdfdf, #cbcbcb );
  background:      -o-linear-gradient( #dfdfdf, #cbcbcb );
  background:         linear-gradient( #dfdfdf, #cbcbcb );
}

.green-gradient {
  background: -webkit-linear-gradient( #509e6a, #1d5630 );
  background:    -moz-linear-gradient( #509e6a, #1d5630 );
  background:     -ms-linear-gradient( #509e6a, #1d5630 );
  background:      -o-linear-gradient( #509e6a, #1d5630 );
  background:         linear-gradient( #509e6a, #1d5630 );
}

.container {
  border: 1px solid grey;
  width: 55%;
  background: $white_color;
  margin: 0 auto 40px auto;
  border-radius: 0 0 15px 15px;
  padding: 0 0 15px 0;
}

.project-header {
  height: 45px;
  padding-top: 3px;
  text-align: center;
  font-size: 2.5rem;
  cursor: pointer;
  border: 1px solid grey;
  .input_project_name {
    background: none;
    border: 1px solid;
    border-radius: 5px;
    border-color: $white_color;
  }
  .small-buttons {
    color: $white_color;
    opacity: 0.4;
    a {
      color: $white_color;
      text-decoration: none;
    }
    a:visited {
      color: $white_color;
    }
  }

  .project_title {
    font-size: 2rem;
    padding-top: 3px;
    text-align: left;
    color: $white_color;
  }
}


.task_row {
  font-size: 1.5rem;
  border-color: gray;
  border-bottom: 1px solid;
  height: 45px;

  color:  grey;
  text-align: center;
  .task {
    text-align: left;
  }
  a {
    color: grey;
    text-decoration: none;
  }
  a:visited {
    color: grey;
   }
   &:hover {
     background-color: #FCFED5;
     cursor: pointer;
   }
   .col-xs-1 {
     height: 45px;
     border-right: 4px double;
     padding-top: 7px;
   }
  .col-xs-2 {
    height: 45px;
    padding-top: 7px;
  }
   .col-xs-6 {
     height: 45px;

     padding-top: 7px;
   }
   .col-xs-3 {
     height: 45px;
     padding-top: 7px;
     border-right: 1px solid;
   }
}

.form {
  height: 45px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  .green-icon {
    color: #1d5630;
    font-size: 2.3em;
  }
  .add-task-button {
    color: $white_color;
    border-radius: 0px 10px 10px 0px;
    font-size: 1.7rem;
  }
}

.navbar {
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 60px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.low-margin {
  margin: 1em;
}
